.btn1 {
  background-image: linear-gradient(to right, #ed2d78, #cf2d86);
  color: white;
  font-size: 50px;
  border-radius: 100px;
  font-size: 17px;
  width: auto;
  border: none;
  margin-top: 1.2rem;
  padding: 8px 3rem;
  margin-bottom: 1rem;
}
.btn1:hover {
  background-image: linear-gradient(to right, #cf2d86, #ed2d78);
}
.front-btn {
  width: auto;
  margin-top: 1.2rem;
  padding: 1.2rem 4rem;
  margin-bottom: 1rem;
}
.front-btn:hover {
  background-image: linear-gradient(to right, #cf2d86, #ed2d78);
}
.btn2 {
  background-image: #ededed;
  color: #333;
  font-size: 50px;
  border-radius: 100px;
  font-size: 17px;
  width: 100%;
  border: none;
  padding: 9px 17px;
}
.btn3 {
  border-radius: 100px;
  padding: 0.8rem;
  background: white;
  color: red;
  border: solid red;
  width: 15%;
}
.btn3:hover {
  border: solid white;
  background: none;
}
.btn2:hover {
  color: whitesmoke;
}
.btn4 {
  background-image: linear-gradient(to right, #ed2d78, #cf2d86);
  color: white;
  font-size: 50px;
  border-radius: 100px;
  font-size: 17px;
  width: 15%;
  border: none;
  padding: 9px 17px;
}
.btn4:hover {
  background: linear-gradient(to right, #cf2d86, #ed2d78);
}
.nav-link {
  color: #a6a6a6;
}
.nav-link:hover {
  color: #cf2d86;
}
.text {
  text-align: center;
}
.mid-cnt .card {
  border: 0;
}
.mid-cnt .card img {
  max-width: 110px;
}
.midedu {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}
.midedu h4 {
  padding-left: 10px;
  font-size: 17px;
}
.educnt {
  background-color: #f2f5fa;
  border-radius: 10px;
  margin-bottom: 3rem;
  color: #707070;
}
.txtsiz {
  font-size: 20px;
}
.btn-primary .btn3 {
  border-radius: 10em;
  padding: 18rem;
}
.educab {
  border: 3px solid #f2f5fa;
  border-radius: 10px;
  padding: 1rem 3rem;
  margin: -1rem 2rem 0rem 0rem;
}
.educab p {
  font-size: 120%;
}
.bottomdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  box-shadow: 2px 2px 2px 2px #fff;
  border-radius: 10px;
  margin: 1rem;
  padding: 4px;
  min-height: 268px;
  width: 100%;
}
.botsec {
  background-color: #f2f5fa;
  padding: 5rem 0rem;
}
.text {
  text-align: center;
  padding-bottom: 5rem;
}
.adjimgs {
  padding: 20px;
}
.txtadj h3 {
  font-size: 1.4rem;
}
.txtadj {
  padding: 16px;
}
h3 {
  color: #414a4d !important;
}
p {
  color: #707070;
  padding: 1rem 0rem;
  font-size: 100%;
}
.botsecimg {
  background-color: #fcfdff;
  padding: 5rem 0rem;
}
.foli,
.icnadj li {
  list-style-type: none;
}
footer {
  background: #edf1f7;
}
ul {
  padding-left: 0;
}
.iconawe {
  font-size: 150%;
}
.icnadj {
  margin: 2rem 0rem;
}
.icnadj {
  max-width: 55%;
}
li {
  color: rgba(37, 55, 85, 0.5);
}
h6 {
  color: #000000;
}
.botton-footer {
  background-color: #000000;
  width: 100%;
  color: #ededed;
  text-align: center;
  padding: 20px 0;
}
.botton-footer img {
  max-width: 60px;
  border-radius: 50%;
  position: fixed;
  z-index: 1;
  bottom: 19px;
  right: 12px;
}
.shadb {
  box-shadow: 0px -26px 50px rgb(40 33 33);
  width: 100%;
  position: fixed;
  z-index: 999;
}
@media (max-width: 767px) {
}
